MONGO_URI=YOUR MONGO DB URL
JWT_SECRET=YOUR JWT SECRET
CLIENT_ID=YOUR CLIENT_ID FOR SENDING MAIL
CLIENT_SECRET=YOUR CLIENT SECRET FOR SENDING MAIL
REFRESH_TOKEN=YOUR REFRESH_TOKEN FOR SENDING MAIL
EMAIL_USER=THE EMAIL YOU HAVE USED FOR GENERATION CLIENT_ID AND CLIENT_SECRET